
ul.heroes {
	list-style-type: none;
}
	ul.heroes li.hero {
		float: left;
		cursor: pointer;
	}
		ul#available_heroes li.hero img {
			width: 54px;
		}
		ul#selected_heroes li.hero {
			width: 127px;
		}
