ul.heroes {
	list-style-type: none;
}
	ul.heroes li.hero {
		float: left;
		cursor: pointer;
		position: relative;
	}
		ul#available_heroes li.hero img {
			width: 54px;
		}
		ul#selected_heroes li.hero, ul#suggested_heroes li.hero {
			width: 80px;
		}
		ul#selected_heroes li.hero img, ul#suggested_heroes li.hero img {
			width: 80px;
		}
		li.hero span {
			display: none;
			font-size: 8pt;
			font-weight: bold;
			text-align: center;
			width: 100%;
			position: absolute;
			bottom: 0px;
			text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
			background-color:rgba(0,0,0,.4);
		}

#advice .progress {
	margin-bottom: 7px;
}

#legend li {
	float: left;
	list-style-type: none;
	min-height: 30px;
}

#legend li:nth-child(7) {
	clear: left;
}

	#legend li.bullet {
		/*list-style-type: square;*/
		font-size: 48px;
		line-height: 12px;
		margin-right: 5px;
	}

	#legend li.text {
		font-size: small;
		margin-right: 15px;
		width: 115px;
	}


li.active .badge {
	background-color: #3399f3;
}

div.avatar-slider {
	width: 25%;
	float: right;
	position: relative;
	top: 0px;
	margin-right: 30px;
}

div.avatar-slider span {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 8pt;
}